<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/main.css') }}">
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/view.css') }}">
	<link rel="stylesheet" href="../static/css/view.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,300&display=swap" rel="stylesheet">
	<title>Personal Profile</title>
</head>
<body>
	<div class="container">
		<!-- TOP NAV -->
		<div class="top-bar">
			<div class="logo-container">
				<h1 class="logo">PLANT STAND</h1>
				<!-- LOGO IMAGE -->
			</div>
		</div>
		<!-- BODY CONTENT -->
		<div class="body-container">
			<div class="user-profile-container">
				<img src="/static/img/man.png" class="user-profile-avi">
				<div class="user-profile-info">
					<div class="user-profile-table">
						<div class="profile-row">
							<div class="users-profile-name"><strong>{{ session['first_name'] }} {{ session['last_name'] }}</strong></div>
							<div class="users-profile-join">Member Since: {{ user.created_at }}</div>
						</div>
						<div class="profile-row">
							<span><strong class="profile-label">State:</strong> {{ user.state }}</span>
						</div>
						<div class="profile-row">
							<span><strong class="profile-label">Experience: </strong>{{ user.exp }}</span>
						</div>
						<div class="profile-row">
							<span><strong class="profile-label">Wishlist Plant: </strong>{{ user.wishlist }}</span>
						</div>
						<div class="profile-row">
							<span id="b1"><strong class="profile-label">Bio:</strong></span>
							<span id="b2">
								{{ user.bio }}
							</span>
						</div>
					</div>
				</div>
			</div> <!-- END USER PROFILE CONTAINER -->

			<!-- USER PLANT STAND SHOWCASE -->
			<div class="plant-stand-showcase">
				<h1 class="showcase-title">Plants on Display</h1>
				<div class="showcase">

					<div class="plant-stand-card">
						<img src="/static/img/plant.jpeg" class="plant-avi">
						<div class="plant-card-info">
							<p class="plant-name-card"><strong>Plant Name:</strong></p>
							<p class="plant-name-card routine"><strong>Length of Ownership:</strong><br></p>
							<p class="plant-learn-more"><a>Learn More</a></p>
						</div>
					</div>

					<div class="plant-stand-card">
						<img src="/static/img/plant.jpeg" class="plant-avi">
						<div class="plant-card-info">
							<p class="plant-name-card"><strong>Plant Name:</strong></p>
							<p class="plant-name-card routine"><strong>Length of Ownership:</strong><br></p>
							<p class="plant-learn-more"><a>Learn More</a></p>
						</div>
					</div>

					<div class="plant-stand-card">
						<img src="/static/img/plant.jpeg" class="plant-avi">
						<div class="plant-card-info">
							<p class="plant-name-card"><strong>Plant Name:</strong></p>
							<p class="plant-name-card routine"><strong>Length of Ownership:</strong><br></p>
							<p class="plant-learn-more"><a>Learn More</a></p>
						</div>
					</div>

					<div class="plant-stand-card">
						<img src="/static/img/plant.jpeg" class="plant-avi">
						<div class="plant-card-info">
							<p class="plant-name-card"><strong>Plant Name:</strong></p>
							<p class="plant-name-card routine"><strong>Length of Ownership:</strong><br></p>
							<p class="plant-learn-more"><a>Learn More</a></p>
						</div>
					</div>

<!-- 					{% for plant in all_plants %}
						<div class="plant-stand-card">
							<img src="/static/img/plant.jpeg" class="plant-avi">
							<div class="plant-card-info">
							<p class="plant-name-card"><strong>Plant Name:</strong>{{ plant.name }}</p>
							<p class="plant-name-card routine"><strong>Length of Ownership:</strong><br>{{ plant.length_ownership }}</p>
							<p class="plant-learn-more"><a>Learn More</a></p>
						</div>
						</div>
					{% endfor %} -->

				</div>
				<p class="view-more-showcase"><a href="/plantstand/view">View All</a></p>
			</div>

			<!-- FOOTER -->
			<div class="footer">
				<span>&copy; 2022 </span> | All rights reserved. | Developed by Corbin Crawford
			</div>
		</div>
	</div>

	<!-- RIGHT COLUMN -->
	<div class="right-column">
		<div class="top-btn-container">
			<a href="/dashboard" class="logout-btn left">Dashboard</a>
			<a href="/logout" class="logout-btn">Logout</a>
		</div>
		<!-- <img src="../img/man.png" class="user-avi"> -->

	<!-- THANKS! -->
		<div class="own-profile-info">
			<p>Currently viewing your own personal profile as it looks for other users.</p>
		</div>

		<div class="own-profile-info" id="edit">
			<a href="/profile/edit" class="edit-profile-link">Edit Profile</a>
		</div>

		<div class="own-profile-info" id="edit">
			<a href="/plantstand/new" class="edit-profile-link">Add a Plant</a>
		</div>

		<div class="own-profile-info" id="thank-you">
			<p class="thanks-text">Hello! My name is Corbin, I would like to thank you for taking a look at one of my projects!</p>
		</div>
	</div>
</body>
</html>